Name : Chaitanya Machhindra Nawale

Roll No : BECOB215

Problem Statement : Apply a-priori algorithm to find frequently occurring items from given data and generate
strong association rules using support and confidence thresholds.
For Example: Market Basket Analysis


Code :

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_excel('/content/drive/My Drive/Online Retail.xlsx')

Mounted at /content/drive

In [3]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [4]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [5]:
data.shape

(541909, 8)

In [24]:
data.isnull().values.any()

True

In [7]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
#data cleaning
data['Description']=data['Description'].str.strip()
data.dropna(axis=0,subset=['InvoiceNo'],inplace=True)
data['InvoiceNo']=data['InvoiceNo'].astype('str')
data=data[~data['InvoiceNo'].str.contains('C')]

In [9]:
data.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [10]:
data['Country'].value_counts()

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

In [11]:
data.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Bahrain', 'Israel', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

In [12]:
#separating transactions for United Kingdom
basket_Germany = (data[data['Country'] == "Germany"].groupby(['InvoiceNo','Description'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('InvoiceNo'))

In [13]:
#converting all<=0 values to 0 and >0 values to 1 
def encode(x):
    if x<=0:
        return 0
    if x>=1:
        return 1

In [14]:
basket_encoded = basket_Germany.applymap(encode)
basket_Germany = basket_encoded

In [15]:
basket_Germany.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC WILLIE WINKIE  CANDLE STICK
InvoiceNo                            ...
536527                            0  ...                                 0
536840                            0  ...                                 0
536861                            0  ...                                 0
536967                            0  ...                                 0
536983                            0  ...                                 0

[5 rows x 1695 columns]

In [16]:
#model building - generating frequent itemsets
freq_items = apriori(basket_Germany,min_support=0.1,use_colnames=True)

In [17]:
freq_items.head()

    support                            itemsets
0  0.102845            (6 RIBBONS RUSTIC CHARM)
1  0.100656        (JUMBO BAG WOODLAND ANIMALS)
2  0.115974     (PLASTERS IN TIN CIRCUS PARADE)
3  0.107221          (PLASTERS IN TIN SPACEBOY)
4  0.137856  (PLASTERS IN TIN WOODLAND ANIMALS)

In [18]:
#generating association rules
rules = association_rules(freq_items,metric="lift",min_threshold=1)
rules = rules.sort_values(['confidence','lift'],ascending=[False,False])

In [19]:
rules.head()

                                          antecedents  ... conviction
9                 (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.358862
18  (ROUND SNACK BOXES SET OF4 WOODLAND, ROUND SNA...  ...   3.632385
2                          (PLASTERS IN TIN SPACEBOY)  ...   2.966448
11               (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   2.260151
12                           (WOODLAND CHARLOTTE BAG)  ...   2.106783

[5 rows x 9 columns]

In [20]:
#extracting rules based on condition
rules[(rules['lift']>=2)&(rules['confidence']>=0.3)]

                                      antecedents  ... conviction
15            (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.529540
17   (POSTAGE, ROUND SNACK BOXES SET OF 4 FRUITS)  ...   4.340810
21            (ROUND SNACK BOXES SET OF 4 FRUITS)  ...   3.718162
16  (POSTAGE, ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.886357
14           (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.814509
20           (ROUND SNACK BOXES SET OF4 WOODLAND)  ...   1.728904

[6 rows x 9 columns]